<nav id="headerNav" class="headerNav">
	<div class="headerNav__content">
		<ul class="headerNav__list">
			<li class="headerNav__root"><a href="/news">News</a>
		</ul>
		<span class="headerNav__icon icon-menu"></span>
	</div>
</nav>