{% extends '_layouts/_layout-default' %}

{% block main %}
	
	<div class="topBanner">
		<div class="topBanner__content">
			<h1>News</h1>
		</div>
	</div>
	
	{% block content %}{% endblock %}

{% endblock %}
	