/** //// variable.scss - start */
$smlBP: 480px;
$medBP: 768px;
$lrgBP: 992px;
$xlrgBP: 1200px;

$weight-regular: 400;
$weight-bold: 500;

$border-radius: 2px;

$indent-vertical-mob: 30px;
$indent-vertical-med: 60px;

$indent-vertical-extra-mob: 60px;
$indent-vertical-extra-med: 100px;

$indent-horizontal-mob: 20px;
$indent-horizontal-med: 40px;

$indent-horizontal-extra-mob: 30px;
$indent-horizontal-extra-med: 50px;

$colour-black: #222222;
$colour-grey: #eee;
$colour-blue: #28357A;
$colour-blue-light: #384279;
$colour-orange: #F39200;

$body-copy: $colour-black;